# Default ignored files
/../../dars310./.idea/shelf/
/../../dars310./.idea/workspace.xml
# Ignored default folder with query files
/../../dars310./.idea/queries/
# Datasource local storage ignored files
/../../dars310./.idea/dataSources/
/../../dars310./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../dars310./.idea/httpRequests/
